{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
<style>

    .reasonToBeChosen{
        background-color: #ffffff !important;
    }
    
    .reasonToBeChosen__inner{
        padding: 0 15.069444444% 0 !important;
    }
    
    .ranking__title{
        position: relative;
    }
    
    .reasonToBeChosen__itemNumber{
        color: #68686C !important;
        text-shadow: 0px 3px 6px rgba(0,0,0,0.16) !important;
        font-size: 5.3rem !important;
    }
    
    .reasonToBeChosen__itemTitle{
        color: #484A96 !important;
        font-size: 2rem !important;
        margin-bottom: 0 !important;
    }
    
    .reasonToBeChosen__itemDescription{
        font-size: 1.6rem !important;
        color: #68686C !important;
        margin-top: 1.8rem !important;
    }
    
    .reasonToBeChosen__item{
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
        height: 228px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 3.9rem 1rem 3.9rem !important;
        width: 100% !important;
    }
    
    .reasonToBeChosen__item.-first{
        background-image: url('html/user_data/assets/option_image/reasonToBeChosen_itemBgi_02.png') !important;
    }
    
     .reasonToBeChosen__item.-second{
        background-image: url('html/user_data/assets/option_image/reasonToBeChosen_itemBgi_03.png') !important;
    }
    
     .reasonToBeChosen__item.-third{
        background-image: url('html/user_data/assets/option_image/reasonToBeChosen_itemBgi_04.png') !important;
    }
    
      .reasonToBeChosen__item.-fourth{
        background-image: url('html/user_data/assets/option_image/reasonToBeChosen_itemBgi_05.png') !important;
    }
    
    .reasonToBeChosen__item__flex{
    width:24% !important;
    }

    
@media only screen and (max-width: 853px){
    .reasonToBeChosen{
        background-image: none;
    }
    
    .reasonToBeChosen__itemNumber{
        font-size: 4rem !important;
    }
    
    .reasonToBeChosen__item{
        width: 100% !important;
        height: 150px !important;
        margin-bottom: 0rem !important;
    }
    
    .reasonToBeChosen__item__flex:not(:last-of-type){
        margin-bottom: 3.2rem !important;
    }
    
    .reasonToBeChosen__item__flex {
        width: 100% !important; 
    }
    
    .reasonToBeChosen__itemDescription{
        margin-top: 1rem !important;
    }
    
}


@media only screen and (max-width: 768px){
.reasonToBeChosen__inner {
    padding: 4rem 2.1rem 3.2rem !important;
}
}

</style>

<div class="reasonToBeChosen">
	<div class="reasonToBeChosen__inner">
	    
	    <div class="ni-pageHeader">
            <h3 class="ranking__title">MERIT</h3>
			<h4 class="ranking__subtitle">生和コーポレーションのカーテンショップなら</h4>
        </div>

		

		<div class="reasonToBeChosen__items">
		    <div class="reasonToBeChosen__item__flex">
		        
			<div class="reasonToBeChosen__item -first">
				<p class="reasonToBeChosen__itemNumber">01</p>
				<p class="reasonToBeChosen__itemTitle">オンラインで注文可能</p>
			
			</div>
				<p class="reasonToBeChosen__itemDescription">
					お店に足を運ばなくても、サイト上でサイズやこだわりを入力し、スマホで注文が完了します。
				</p>
				
			</div>
				
		 <div class="reasonToBeChosen__item__flex">
			<div class="reasonToBeChosen__item -second">
				<p class="reasonToBeChosen__itemNumber">02</p>
				<p class="reasonToBeChosen__itemTitle">入居者限定価格</p>
			</div>
				<p class="reasonToBeChosen__itemDescription">
					国内最大の縫製工場からの直送だから、質の良いカーテンを相場よりも安価でご提供しています。
				</p>
		</div>
			
		<div class="reasonToBeChosen__item__flex">
			<div class="reasonToBeChosen__item -third">
				<p class="reasonToBeChosen__itemNumber">03</p>
				<p class="reasonToBeChosen__itemTitle">最短3日の短納期に対応</p>
			</div>
			<p class="reasonToBeChosen__itemDescription">
					購入後、最短3日の短納期にも対応、引っ越しの直前・直後でお急ぎの方も安心です。
				</p>
		</div>
		
		 <div class="reasonToBeChosen__item__flex">
			<div class="reasonToBeChosen__item -fourth">
				<p class="reasonToBeChosen__itemNumber">04</p>
				<p class="reasonToBeChosen__itemTitle">高品質なカーテン</p>
			</div>
			<p class="reasonToBeChosen__itemDescription">
					一般家庭はもちろん高級ホテルやオフィス、商業施設等でも多数使われている高品質なカーテンをお届け。
				</p>
		</div>
		
		</div>
	</div>
</div>